
.header {
  background-color: #2627ce;
  color: #eee;
}

.headerContainer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 80px;
}


.logo {
  color: #fff;
}

.logo > h1 {
  margin: 0;
}